/* ---------------------------------------------------------- */
/* ---------------- FONDO DE TODAS LAS PESTAÑAS ------------- */
/* ---------------------------------------------------------- */
.fondo {
    background-image: url(../Medias/m.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 238, 169, 0.856);
    width: 100%;
    height: 100%;
}
.fondo_1 {
    background-image: url(../Medias/g.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 238, 169, 0.856);
    width: 100%;
    height: 100%;

}

.fondo_2 {
    background-image: url(../Medias/mm.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 238, 169, 0.856);
    width: 100%;
    height: 100%;
}

.fondo_3 {
    background-image: url(../Medias/cor.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 238, 169, 0.856); 
    width: 100%;
    height: 100%;
}

.fondo_4 {
    background-image: url(../Medias/palta.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-color: rgba(255, 238, 169, 0.856);
    width: 100%;
}


