
/* ************************************************************************************* */
/* -------------------------------- INICIO DE QUINES SOMOS ----------------------------- */
/* ************************************************************************************** */


/* .somos {
    color: black;
    font-weight: bold;
    text-align: center;
    font-size: 4vw;
}


#primero {
    display: grid;
    grid-template-rows: 20% 80%;;
    grid-template-columns: repeat( 2 50%);
    grid-template-areas: 
    "primero" "segundo";
}

.texto1 p, .texto2 p {
    color: black !important;
    font-weight: bold;
    margin: 8vh;
    font-size: 3vw;
}

.texto1 {
    grid-area: primero;
    display: flex;
    align-items:center;
    justify-content: left;
    margin: 5vw;
    font-size: 3vw;
}

.foto1 {
    grid-area: primero;
    display: flex;
    justify-content: flex-start;
    width: 45%;
    height: 45%;
}

.texto2 {
    grid-area: segundo;
    display: flex;
    align-items:center;
    justify-content: right;
    order: 2;
    font-size: 3vw;
    margin-top: 9vw;
}

.foto2 {
    grid-area: segundo;
    display: flex;
    justify-content: flex-end;
    width: 45%;
    height: 45%;
    order: 1;
}

@media screen and (max-width:480px) {
    .texto1 {
        font-size: 1rem;
        margin-left: 2%;
    }
    .texto2 {
        font-size: 0.8rem;
        margin-right: 2%;
    }
    .fondo_2 {
        width: 100%;
        height: 100%;
        padding-left: 2;
    
    }
} */

/* ********************************************************************************** */
/* ----------------------------- FIN DE QUIENES SOMOS ------------------------------- */
/* *********************************************************************************** */
