@charset "UTF-8";
/* ----------------- Tipografia ----------------- */
@import url("https://fonts.googleapis.com/css2?family=Klee+One:wght@400;600&family=Source+Sans+Pro:wght@200&display=swap");
/* --------- Caracteristicas Generales --------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  list-style: none;
  scroll-behavior: smooth; }

/* ---------------------------------------------------------- */
/* ---------------- FONDO DE TODAS LAS PESTAÑAS ------------- */
/* ---------------------------------------------------------- */
.fondo {
  background-image: url(../Medias/m.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 238, 169, 0.856);
  width: 100%;
  height: 100%; }

.fondo_1 {
  background-image: url(../Medias/g.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 238, 169, 0.856);
  width: 100%;
  height: 100%; }

.fondo_2 {
  background-image: url(../Medias/mm.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 238, 169, 0.856);
  width: 100%;
  height: 100%; }

.fondo_3 {
  background-image: url(../Medias/cor.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 238, 169, 0.856);
  width: 100%;
  height: 100%; }

.fondo_4 {
  background-image: url(../Medias/palta.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-color: rgba(255, 238, 169, 0.856);
  width: 100%; }

/* ----------------------------------------------------------------- */
/* ------------------ FOOTER DE TODAS LAS PÁGINAS ------------------- */
/* ----------------------------------------------------------------- */
footer .footer_sec {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgba(2, 2, 2, 0.57);
  padding: 1%;
  margin-top: 20%; }
  footer .footer_sec a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    width: 2.8rem;
    height: 2.8rem;
    background-color: #fac414;
    border-radius: 50%;
    text-decoration: none; }
    footer .footer_sec a i {
      color: black; }

/* ----------------------------------------------------------------- */
/* -------------------- MEDIAS DE FOOTER -------------------- */
/* ----------------------------------------------------------------- */
@media screen and (max-width: 480px) {
  footer {
    margin-top: 25%; }
    footer .footer_sec a {
      font-size: 1rem;
      width: 1.5rem;
      height: 1.5rem; } }

body header nav .container-fluid a {
  color: #fac414; }

/* ----------------------------------------------------------------- */
/* ---------------------------- MAIN INCIO INDEX ------------------- */
/* ----------------------------------------------------------------- */
.main_home p {
  display: flex;
  justify-content: flex-end;
  font-size: 4vw;
  text-align: right;
  margin-top: 10%;
  color: #fac414; }

@media screen and (max-width: 480px) {
  .main_home p {
    font-size: 10vw; } }

/* ----------------------------------------------------------------- */
/* ---------------------- MAIN NUESTROS PRODUCTOS ------------------ */
/* ----------------------------------------------------------------- */
main .productos {
  display: flex; }
  main .productos .productos_ h2 {
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 4vw;
    margin: 6%; }
  main .productos .productos__ {
    margin: 4%;
    display: flex;
    flex-wrap: wrap; }
    main .productos .productos__ .img1, main .productos .productos__ .img2, main .productos .productos__ .img3, main .productos .productos__ .img4 {
      width: 15%;
      height: 15%;
      border-radius: 100%; }
    main .productos .productos__ p {
      display: block;
      color: black;
      font-size: 2vw;
      font-weight: bold;
      align-items: center;
      justify-content: center; }

/* ---------------------------------------------------------------- */
/* ------------------------ INICIO DE QUINES SOMOS ----------------- */
/* ---------------------------------------------------------------- */
main .somos {
  color: black;
  font-weight: bold;
  text-align: center;
  font-size: 4vw; }

main .texto1 {
  grid-area: primero;
  display: flex;
  align-items: center;
  margin-left: 2%; }
  main .texto1 .foto1 {
    grid-area: primero;
    display: flex;
    justify-content: flex-start;
    width: 45%;
    height: 45%; }
  main .texto1 .p1 {
    font-weight: bold;
    font-size: 2.5vw;
    justify-content: center;
    margin-left: 4%; }

main .texto2 {
  grid-area: segundo;
  display: flex;
  align-items: center;
  order: 2;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 15vw; }
  main .texto2 .foto2 {
    grid-area: segundo;
    display: flex;
    justify-content: flex-end;
    width: 45%;
    height: 45%;
    order: 1; }
  main .texto2 p {
    font-size: 2.5vw;
    font-weight: bold;
    margin-right: 2%; }

main #primero {
  display: grid;
  grid-template-rows: 20% 80%;
  grid-template-columns: repeat(2 50%);
  grid-template-areas: "primero" "segundo"; }

/* ---------------------------------------------------------------- */
/* -------------------- MEDIAS DE QUIENES SOMOS ------------------- */
/* ---------------------------------------------------------------- */
@media screen and (max-width: 480px) {
  .p1 {
    font-size: 1rem;
    margin-left: 2%; }
  .p {
    font-size: 1rem;
    margin-right: 2%; }
  .fondo_2 {
    width: 100%;
    height: 100%; } }

/* --------------------- INCIO SUCURSALES ------------------------ */
.sucursales {
  display: grid;
  grid-template-columns: 60vw;
  justify-content: center;
  align-items: center; }
  .sucursales .locales p {
    text-align: center;
    font-size: 4vw; }
  .sucursales .locales .sucursales__ li {
    margin: 0;
    text-align: left;
    font-weight: 700;
    font-size: 2.5vw;
    list-style: square inside; }
  .sucursales .mapa div {
    width: 100%;
    padding-right: 6vw; }

@media screen and (max-width: 480px) {
  .sucursales .locales p {
    font-size: 8vw; }
  .sucursales .locales .sucursales__ li {
    font-size: 4vw;
    text-align: center;
    justify-content: center; } }

/* ----------------------------------------------------------------- */
/* ------------------------- INICIO CONTACTO ---------------------- */
/* --------------------------------------------------------------- */
.contact__main {
  display: grid;
  grid-template-columns: 1 60%;
  grid-template-rows: repeat(2 30% 60%);
  justify-content: center;
  text-align: center;
  font-weight: bolder; }
  .contact__main p {
    font-size: 3vw;
    margin: 3rem; }

@media screen and (max-width: 480px) {
  .contact__main p {
    font-size: 5vw; } }
